@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

main {
  padding-top: 40px;
  display: flex;
  gap: 16px;
  max-width: 1174px;
  margin: 0 auto;

  .images_section {
    display: flex;
    gap: 16px;

    aside {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .green-text {
      color: #29aa04;
      font-weight: 600;
      font-size: 24px;
    }

    .content_header {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    h1 {
      font-size: 36px;
      font-weight: 600;
    }

    h4 {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
    }

    .price_section {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
    }

    .size_section {
      display: flex;
      flex-direction: column;

      .size_header {
        margin-top: 48px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .sizes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-bottom: 40px;
        .size {
          border: 1px solid rgba(0, 0, 0);
          padding: 12px 16px;
          text-align: center;
          font-weight: 600;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    .button_container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      button {
        padding: 20px;
        border: none;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 600;
        &:hover {
          opacity: 0.8;
        }
      }
      button:first-child {
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
      button:last-child {
        background-color: #fff;
        color: #000;
        border: 1px solid rgba(0, 0, 0);
        cursor: pointer;
      }
    }
  }
}
